section.filter{
    pointer-events: none;

}

section div.modal-box{
    border: 1.5px solid Black;
    /*margin-left: 20%;
    margin-right: 20%;*/
    background: LightSkyBlue;
    background: -webkit-linear-gradient(DodgerBlue, LightSkyBlue,LightCyan); 
    background: -o-linear-gradient(DodgerBlue, LightSkyBlue,LightCyan); 
    background: -moz-linear-gradient(DodgerBlue, LightSkyBlue,LightCyan); 
    background: linear-gradient(DodgerBlue, LightSkyBlue,LightCyan); 
    border-radius: 10px;
    /*margin-right: 10%;*/
    opacity: 0;
    margin: auto;
    transition: all 0.3s ease;
    position: fixed;
    /*transform: translate(50%,-50%) scale(1.5);
    transform: translateY(-50%);
    transform: translateX(10%);
    -ms-transform: translateY(-50%);
    -ms-transform:translateX(20%);*/
    top: 15%;
    right: 10%;
    left: 10%;
    bottom: auto;
    z-index: 100;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

section.active .modal-box {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

section.filter button{
    cursor: pointer;
}

section.filter header#filter{
    display: inline-flex;
    border: 0px;
}

section.filter header#filter{
    cursor:default;
}

section.filter div.header{
    text-align: center;
}

section.filter header#filter h1{
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 0px;
}

section.filter button.close{
    border: 1px solid black;
    color: white;
    background-color: dodgerblue;
    cursor: pointer;
    float: right;
    font-size: 30px;
    border-radius: 10px;
    margin-right: 10px;
    margin-top: 8.5px;
}

section.filter div.header{
    border-bottom: 1.5px solid Black;
    border-radius: 0px;
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
}

ul#center{
    padding-left: 8%;
    padding-right: 8%;
}

li.type_weapon button{
    border: 0px;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 6px;
}

li.type_weapon h1{
    margin-top: 0px;
    margin-bottom: 0px;
    display: inline-block;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

img#weapon_type{
    height: 30px;
    background-color: aqua;
    border-radius: 5px;
}

li.rarity h1,
li.type h1,
li.element h1
{
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 1.5rem;
}

li.rarity button,
li.rarity_star button,
li.type button,
li.element button
{
    border-radius: 5px;
    font-size: 1rem;
    border: 0px;
}

li.rarity_star button{
    margin-top: 0px;
    margin-bottom: 10px;
}

li.type_weapon button.type_Catalyst{
    margin-right: 20px;
}

li.element_img span{
    display: grid;
    display: inline-table;
}

li.element_img button{
    border: 0px;
    border-radius: 10px;
    margin-right: 10px;
    margin-top: 5px;
}

li.element_img button img{
    height: 40px;
}

/*Color Button*/
.rarity_all,
.rarity_4,.rarity_5,
.type_all,
.type_sword,.type_Claymore,.type_Pole,.type_Bow,.type_Catalyst,
.element_all,
.E_Anemo,.E_Cryo,.E_Dendro,.E_Electro,.E_Geo,.E_Hydro,.E_Pyro
{
    background-color: Aquamarine;
    /*background: -webkit-linear-gradient(Aquamarine,PaleTurquoise); 
    background: -o-linear-gradient(Aquamarine,PaleTurquoise); 
    background: -moz-linear-gradient(Aquamarine,PaleTurquoise); 
    background: linear-gradient(Aquamarine,PaleTurquoise); */
}

.overlay{
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
    pointer-events: none;
    z-index: 90;
    margin: 0;
    padding: 0;
    size: 200%;
}
