body{
    font-family: 'Courier New', Courier, monospace;
    background: #083773;
}
main{
    padding-top: 7px;
    padding-bottom: 7px;
    margin-top: 4%;
    margin-left: 4%;
    margin-right: 4%;
    height: 100%;
    background-color: #ffffff;
    border: #ffffff;
    border-radius: 10px;
}
.head h1{
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 35px;
    margin-top: 20px;
}
#title{
    text-align: center;
    font-size: 22px;
}
.menu div#select{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    background-color: rgb(241, 241, 241);
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    padding-bottom: 1%;
    padding-right: 0;
    padding-left: 0;
}
.menu div#select header button{
    font-size: 25px;
    margin-top: px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    list-style: none;
    /*border: 1px solid red;*/
    cursor: default;
}
.menu div#select header button.menu{
    display: inline-block;
}
.menu div#select header h1#h1{
    margin-top: 10px;
    text-align: center;
}
.menu div#select header button#buttonchar{
    display: inline-block;
    border: 1.3px solid black;
    border-radius: 10px;
    padding: 5px;
    margin-left: 5%;
    margin-top: 0;
    text-align: left;
    cursor: pointer;
    color: white;
    background-color: DodgerBlue ;

}
.menu div#select header button#buttonboss{
    display: inline-block;
    border: 1.3px solid black;
    border-radius: 10px;
    padding: 5px;
    margin-left: 5%;
    margin-top: 0;
    text-align: left;
    cursor: pointer;
    color: white;
    background-color: DodgerBlue ;

}

.menu div ul li{
    font-size: 25px;
    margin-left: 0px;
    margin-right: 0px;
    list-style: none;
    /*border: 1px solid red;*/
    cursor: default;
}
.menu div#select header{
    border-bottom: 1px solid rgb(0, 0, 0);
    border-radius: 0px;
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
} 
.menu div#select header ul.element img{
    
    width: 40px;
    height: 40px;
    border: 1px solid red;
    margin-left: 0;
    margin-top: px;
}

.menu div#select header ul.element{
    display:inline-flex;

}

.menu div#select header button.filter{
    font-size: 1.25rem;
    display: inline-block;
    border: 1.3px solid black;
    border-radius: 10px;
    padding: 5px;
    margin-left: 1%;
    margin-top: 0;
    text-align: left;
    cursor: pointer;
    color: white;
    background-color: DodgerBlue ;
    border-radius: 30px;
}

